.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rproj.user/279DF567/pcs/windowlayoutstate.pper
.Rproj.user/279DF567/pcs/workbench-pane.pper
.Rproj.user/279DF567/rmd-outputs
.Rproj.user/279DF567/sources/prop/328A4220
.Rproj.user/279DF567/sources/prop/92247084
.Rproj.user/279DF567/sources/prop/INDEX
.Rproj.user/279DF567/sources/s-34086C46/15D2FA53-contents
.Rproj.user/279DF567/sources/s-34086C46/1C5ACA78
.Rproj.user/279DF567/sources/s-34086C46/1C5ACA78-contents
.Rproj.user/279DF567/sources/s-34086C46/59FE08B5
.Rproj.user/279DF567/sources/s-34086C46/59FE08B5-contents
.Rproj.user/279DF567/sources/s-34086C46/A7C7310A-contents
.Rproj.user/279DF567/sources/s-34086C46/F2CF2620-contents
.Rproj.user/279DF567/sources/s-34086C46/F3A6EA9F
.Rproj.user/279DF567/sources/s-34086C46/F3A6EA9F-contents
.Rproj.user/279DF567/sources/s-34086C46/lock_file
.Rproj.user/shared/notebooks/7893E4B5-computing/1/279DF56734086C46/chunks.json
.Rproj.user/shared/notebooks/7893E4B5-computing/1/s/chunks.json
.Rproj.user/shared/notebooks/930336C0-index/1/279DF56734086C46/chunks.json
.Rproj.user/shared/notebooks/930336C0-index/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
figures/.DS_Store
